[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
torch = ">=2.0.0"
torchvision = "*"
tqdm = "*"
pandas = "*"
jupyter = "*"
scipy = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]
pytest = "*"
